*{
    margin: 0;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.line{
    background-color: #3f51b5;
    color: white;
    height: 7vh;
}
.line p{
    display: flex;
    justify-content: center;
    padding: 1vh;
    font-size: 40px;
}
.sight{
    height: 20vh;
    width: 20vh;
}
.sights{
    display: flex;
    margin-top: 2vh;
    justify-content: space-around;
}
.place{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.places{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
.bears{
    height: 100%;
}
.bear{
    height: 25vh;
    width: 35vh;
    margin-left: 10vh;
    position: absolute;
    margin-bottom: 1vh;
}
.foot{
    height: 1vh;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 28vh;
}
@media(max-width: 1200px){
    .sight{
        width: 14vh;
        height: 14vh;
    }
    footer{
        margin-top: 34vh;
    }
    .line p{
        font-size: 20px;
    }
}
@media(max-width: 800px){
    .sight{
        width: 8vh;
        height: 8vh;
    }
    footer{
        margin-top: 40vh;
    }
    .line p{
        font-size: 15px;
    }
}

